body {
  font-family: sans-serif;
}
header nav{
  padding: 0px;
}
header .row{
  display: flex;
  align-items: center;
  background-color: #295054;
}
header h1{
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
  margin: 0;
  margin-bottom: 0px;
  color: #06D7F0;
}
header h2{
  font-weight:500;
  color: #A1DEE5;
  margin-bottom: 50px;
}
#nav_text a{
  margin: 0;
  padding: 0 20px;
  text-decoration: none;
  font-size: 3rem;
  color: #A2CFD4;
}
#nav_text a:hover{
  color: #77E3F1;
  text-decoration: none;
}
section{
  background-image: linear-gradient(180deg, #295054, #9DF2FB );
}


section .col-sm-12 div{
  margin: 15px;
  align-items: center;
  height: 50px;
  width: inherit;
  border: 3px groove #295054;
  border-radius: 2%;
  background-color: #A1DEE5;
}
section .col-sm-12 div h2{
  margin-top: 0;
}
section .col-sm-6 div{
  margin: 5px;
  align-items: center;
  height: 600px;
  width: 600px;
  border: 3px groove #295054;
  border-radius: 15%;
  background-color: #A1DEE5;
}
section .contact_content div{
  margin: 5px;
  align-items: center;
  height: 600px;
  width: inherit;
  border: 3px groove #295054;
  border-radius: 15%;
  background-color: #A1DEE5;
}


footer .row{
  display: flex;
  align-items: center;
  background-image: linear-gradient(-180deg, #9DF2FB, #295054);
}
footer ul{
  list-style: none;
}
footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
